.navbar{
    display: flex;
    justify-content: center;
    color: red;
    background-color: black;
}
.navbar-container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: rgb(218, 8, 8);
    padding: 1%;
}
.a{
    color: red;
    background-color: black;
    border-radius: 5px;
    border: 5px solid black;
    text-decoration: solid;
}

.form-container{
    display: flex;
    justify-content: center;
}
.form{
    background-color: black;
    color: red;
    padding: 2rem;
    border-radius: 5px;
}
.detail-container{
    display: flex;
    justify-content: center;
    background-color: grey;
}
.main-container{
    display: flex;
    justify-content: center;
    width: 40%;
    margin-left: 28%;
}