.navbar{
    display: flex;
    justify-content: center;
    color: red;
    background-color: black;
}
.navbar-container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.a{
    color: red;
    background-color: black;
    border-radius: 5px;
    border: 5px solid black;
    text-decoration: solid;
}
.main-container{
    color: red;
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}
.form-container{
    display: flex;
    justify-content: center;
}
.form{
    background-color: black;
    color: red;
    padding: 2rem;
    border-radius: 5px;
}
.detail-container{
    display: flex;
    justify-content: center;
    background-color: grey;
}